<app-menu>

</app-menu>


<body class="Cuerpo1" id="cuerpo" style="margin-left:50px; background-color:#212121;">
    <app-encabezado2 id="Cabeza"></app-encabezado2>
    <br><br><br><br>
    <div class="FotoPerfil">
        <div id="sidemenu">
            <div id="profile">
                <div id="photo">
                    <img src="https://i.pinimg.com/474x/34/dc/bc/34dcbc0204c76b419d8ef549d7ec965d.jpg" alt="">
                </div>
                <div id="name">
                    <span>Romeo Axpuac</span>
                    <br>
                    <span>@romeoaxpuac123</span>
                    <br><br>
                    <input type="file" name="file" id="file" class="inputfile" />
                    <label for="file">Nueva foto de perfil</label>
                </div>
            </div>
        </div>

    </div>

    <div class="InformacionPerfil">
        <div id="sidemenu">
            <div id="profile">

                <div id="name">
                    <span>Nombre:</span>
                    <input type="text" value="Romeo" />
                    <br>
                    <span>Apellido:</span>
                    <input type="text" value="Axpuac" />
                    <br>
                    <span>Usuario:</span>
                    <input type="text" value="romeoaxpuac123" />
                    <br>
                    <span>Contraseña:</span>
                    <input type="password" value="Contraseña" />
                    <br>
                    <span>Correo:</span>
                    <input type="text" value="soyromeoaxpuac@gmail.com" />
                    <br>
                    <span>Nacimiento:</span>
                    <input type="date" value="2018-07-22">

                </div>
                <button id="boton_personalizado">Actualizar Datos</button>
            </div>
            <br>
        </div>

    </div>


    <br><br><br><br><br>
    <app-copyright></app-copyright>
</body>