<app-menu>

</app-menu>


<body class="Cuerpo1" id="cuerpo" style="margin-left:50px; background-color:#212121;">
    <app-encabezado2 id="Cabeza"></app-encabezado2>
    <br><br><br><br>
    <div class="FichaInicial">
        <div class="FotoPerfil">
            <div id="sidemenu">
                <div id="profile">
                    <div id="photo">
                        <img src="https://i.pinimg.com/474x/34/dc/bc/34dcbc0204c76b419d8ef549d7ec965d.jpg" alt="">
                    </div>
                    <div id="name">
                        <span>Romeo Axpuac</span>
                        <br>
                        <span>@romeoaxpuac123</span>
                        <br><br>
                    </div>
                </div>
            </div>

        </div>
        <div class="Ficha">
            <span>Estatura:</span>
            <input type="text" value="1.74" />
            <br>
            <span>Peso:</span>
            <input type="text" value="236" />
            <br>
            <span>Ultimo Control:</span>
            <input type="date" value="2018-07-22">
            <br>
            <span>Grupo Sanguineo:</span>
            <input type="text" value="O+" />
            <br>
            <span>Medicamento:</span>
            <input type="text" value="Medicamento1" />
            <br>
            <span>Medicamento:</span>
            <input type="text" value="Medicamento2" />
            <br>
            <span>Medicamento:</span>
            <input type="text" value="Medicamento3" />
            <br>
            <span>Intolerencia:</span>
            <input type="text" value="Intolerencia1" />
            <br>
            <span>Intolerencia:</span>
            <input type="text" value="Intolerencia2" />
            <br>
            <span>Intolerencia:</span>
            <input type="text" value="Intolerencia3" />
            <br>
            <span>Cirujias:</span>
            <select name="Cirujias" id="Cirujias">
                <option>SI</option>                            
                <option>NO</option>                         
            </select>
            <br>
            <span>Enfermedad:</span>
            <input type="text" value="Enfermedad1" />
            <br>
            <span>Enfermedad:</span>
            <input type="text" value="Enfermedad2" />
            <br>
            <span>Enfermedad:</span>
            <input type="text" value="Enfermedad3" />
            <br>
            <br>
            <button id="boton_personalizado">Actualizar Ficha</button>
            <br>
            <br>
        </div>
    </div>





    <br><br><br>
    <app-copyright></app-copyright>
</body>