<app-menu></app-menu>

<body class="Cuerpo1" id="cuerpo" style="margin-left:50px; background-color:#212121;">
    <app-encabezado2 id="Cabeza"></app-encabezado2>
    <br><br><br><br>
    <div class="Cuerpo2">
        <div class="container2">
            <a  id="ruta" href="https://www.facebook.com/HopeDiabetic" target="_blank">
                <img src="https://github.com/romeoaxpuac123/MisImagenes/blob/main/Diabetic/Banner6.jpg?raw=true" id="slide">
            </a>
        </div>
    </div>
    <div class="Cuerpo3">
        puta vida
    </div>
    
    
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <app-copyright></app-copyright>
</body>
 